{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title  %}{% endblock  %}</title>
    <link rel='stylesheet' type='text/css' media='screen' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script type="javascripts" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#25C9D0; position: sticky; top: 0; z-index: 1000">
        <a class="navbar-brand" style="font-weight: bold;" href="/">Manage </a>
        <ul class="nav justify-content-end navbar-nav ml-auto">
            {% if user.email %}
                <li class="nav-item">
                    <p class="nav-link">Xin chao {{user.email}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container-fluid ">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-lg-2 col-xl-2 bd-sidebar bg-light p-2" style="position: sticky">
                <nav class="bd-links" id="bd-docs-nav">
                    {% if user.email %}
                    <br>
                    <div class="nav-item"><a class="collapsible-header waves-effect arrow-r nav-link" href="/list" style="color: #25C9D0; font-size: 1.15em">Dashboard</a></div>
                    <hr>
                    {% if request.user.is_admin %}
                    <div class="nav-item"><a class="collapsible-header waves-effect arrow-r nav-link" href="/create" style="color: #25C9D0; font-size: 1em">Create user</a></div>
                    <div class="nav-item"><a class="collapsible-header waves-effect arrow-r nav-link" href="" style="color: #25C9D0; font-size: 1em">Invite user</a></div>
                    <div class="nav-item"><a class="collapsible-header waves-effect arrow-r nav-link" href="" style="color: #25C9D0; font-size: 1em">Import user</a></div>
                    {% endif %}
                    <div class=item"><a class="collapsible-header waves-effect arrow-r nav-link" href="" style="color: #22b8cf; font-size: 1em">My profile</a></div>
                    {% endif %}
                </nav>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                {% block content %}{% endblock content %}
            </main>
            <div class="col-0 col-md-3 col-xl-2 bd-sidebar bg-light" style="position: sticky;">
                <nav class="bd-links" id="bd-docs-nav">
                    <div class="bd-toc-item active">
                        <a href="#" class="bd-toc-link h5 nav-link text-info"></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#25C9D0; height: 50px;">
            <span class="mx-auto my-3 text-light h5 "></span>
        </nav>
    </footer>
</body>

</html>