{% extends "pages/base.html" %}

{% block titile %}Home{% endblock titile %}

{% block content %}
        <form method="POST" class="post-form" >
        {% csrf_token %}
            <div class="container">
                {% for key,value in form.errors.items %}
                {{value}}
                {% endfor %}
                <h1 style="color:#25C9D0">Create User</h1>
                <p><label class="text-left" style="width: 120px; color:#25C9D0" for="">Email: </label>{{form.email}}</p>
                <p><label class="text-left" style="width: 120px; color:#25C9D0" for="">Password: </label>{{form.password1}}</p>
                <p><label class="text-left" style="width: 120px; color:#25C9D0" for="">Password confirmation: </label>{{form.password2}}</p>
                <p><label class="text-left" style="width: 120px; color:#25C9D0" for="">Staff: </label>{{form.staff}}</p>
                <p><label class="text-left" style="width: 120px; color:#25C9D0" for="">Admin: </label>{{form.admin}}</p>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                    <button type="submit" class="btn btn-info">Create</button>
                    </div>
                </div>
            </div>
        </form>
{% endblock content %}