{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel='stylesheet' type='text/css' media='screen' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script type="javascripts" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color: #f7f7ff">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#41D2E5; position: sticky; top: 0; z-index: 1000">
        <a class="navbar-brand" style="font-weight: bold;" href="/">Manage App
        <img class="px-auto mx-auto" src="{% static 'image/logo-circle.png' %}" style="max-width: 10%"></a>

        <ul class="nav justify-content-end navbar-nav ml-auto">
            {% if user.email %}
                <li class="nav-item">
                    <p class="nav-link">{{user.email}}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container-fluid ">
        <div class="row flex-xl-nowrap">
            <main class="col-12 col-md-12 col-xl-12 bd-content">
                <h1 class="my-2 text-justify text-center" style="color: #25C9D0">Welcome to Company Management App</h1>
                <div class="row">
                    <div class="col-12 col-md-4 pt-5" style="display:inline-block">
                        <center>
                            <div class="mt-2">
                                <a style="text-decoration: none" href="/list"><button class="btn" style="background-color:#25C9D0; color:white; font-weight: 500; width: 20%; height: 50px; line-height: 1">
                                    Manage User</button></a>
                                <button class="btn" style="background-color:#25C9D0; color:white; font-weight: 500; width: 20%; height: 50px; line-height: 1"><a style="color:white; text-decoration: none" href="#about">About Project</a></button></button>
                            </div>
                        </center>
                    </div>
                    <div class="col-12 col-md-8" style="display:inline-block">
                         <img class="px-auto mx-auto mt-0 py-0" src="{% static 'image/background1.png' %}" style="max-width: 105%; opacity: 0.7;">
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#41D2E5; height: 60px;">
            <span class="mx-auto my-3 text-light h5 "></span>
        </nav>
    </footer>
</body>

</html>