{% extends "pages/base.html" %}

{% block titile %}Home{% endblock titile %}

{% block content %}
<h1 class="bd-title text-justify mx-auto text-info">Employee List</h1>
<!--{% if request.user.is_admin %}-->
<!--<button type="submit" class="btn btn-info justify-content-center" style="width: 150px"><a href="/create" style="color: white; text-decoration: none">Create new users</a></button>-->
<!--{% endif %}-->
<table class="table table-bordered table-striped">
  <thead class="" style="background-color:#25C9D0; color:white;">
    <tr class="">
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Status</th>
      {% if request.user.is_admin %}
      <th scope="col">Action Field</th>
      {% endif %}
    </tr>
  </thead>
  <tbody style="color:#5a5c69">
  {% for user in Users %}
      <tr>
        <th scope="row">
          <img class="img-fluid" src={{user.profile.image.url}} style = "max-width: 1 5%" alt="">
        </th>
        <td>{{user.profile.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.profile.phone}}</td>
        <td>{{user.is_active}}</td>
        {% if request.user.is_admin %}
        <td>
          <a style="color: #25C9D0" href="">Detail</a>
          <a style="color: #25C9D0" href="/edit/{{ user.id }}">Edit</a>
        </td>
        {% endif %}
      </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock content %}
