{% extends "pages/base.html" %}
{% block titile %}Login{% endblock titile %}


{% block content %}
    <center>
        <form action='.' method='POST'>
            {% csrf_token %}
            {% for key,value in form.errors.items %}
                {{value}}
            {% endfor %}
            <h1 style="color:#25C9D0">Login</h1>
            <p><label class="text-left" style="width: 100px; color:#25C9D0" for="">Email: </label>{{form.username}}</p>
            <p><label class="text-left" style="width: 100px; color:#25C9D0" for="">Password: </label>{{form.password}}</p>
            <input type="hidden" name='next' value="/" >
            <input class="btn btn-info" type="submit" value="Login">
        </form>
    </center>
{% endblock content %}
