{% extends "pages/base.html" %}

{% block titile %}Manage User{% endblock titile %}

{% block content %}
<div class="row">
     <div class="col-12 col-md-12 col-lg-6 pr-5">
        <div class="row m-5">
            <center style="color:#25C9D0">
                <img style="max-width: 100%; opacity: 0.2;filter: blur(2px);" src="/static/image/laptop.jpg">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <h1>The newest member</h1>
                    <h2>{{ LastUser.email}}</h2>
                    <h2>{{ Profile.name}}</h2>
                    <h2>{{ Profile.birthday}}</h2>
                </div>
            </center>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6"><h1 class="bd-title text-justify mx-auto text-info">Welcome Our New Employee</h1>
        <table class="table table-bordered table-striped">
          <thead class="" style="background-color:#25C9D0; color:white;">
            <tr class="">
              <th scope="col">Id</th>
              <th scope="col">Email</th>
              <th scope="col">Staff</th>
            </tr>
          </thead>
          <tbody style="color:#5a5c69">
          {% for user in Users %}
            <tr>
              <th scope="row">{{user.id}}</th>
              <td>{{user.email}}</td>
              <td>{{user.is_staff}}</td>
          {% endfor %}
          </tbody>
        </table>
    </div>

</div>

{% endblock content %}